body {
    font-family: Arial, sans-serif;
    color: #D9D9D9;
    background-color: #01010f;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #535353;
    border-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

h3 {
    text-align: center;
    font-size: 15px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    background: #BFBFBF;
    
}

button{
    border: 0;
    background-image: linear-gradient(
    150deg,
    #9500ff,
    #09f,
    #00DDFF
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin: 0 auto;
}

button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span{
    background: none;
}

button:active{
    transform: scale(0.9);

}

.ImgLogo{
    width: 50%;
    max-width: 100px;
    display: block;
    margin: 0 auto;
}
 .textLog{
    color: #18EAD8;
 }